{
  "extends": [
    "next",
    "standard",
    "prettier",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@next/next/recommended"
  ],
  "plugins": ["prettier", "react", "react-hooks", "import"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "bracketSpacing": true,
        "semi": false,
        "arrowParens": "avoid",
        "printWidth": 140,
        "trailingComma": "none"
      }
    ]
  }
}
